* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto; /* centres the page */
}

.accordion {
    display: flex;
    align-items: center;
    color: white;
    font-size: 17px;
    background-color: #8c3235;
    border: 1px solid black;
    padding: 15px 15px;
    cursor: pointer; /* kanei pointer to pontiki */
}

.fas {
    padding-right: 10px;
}

.inner-text {
    display: none;
    padding: 10px 10px;
    border: 1px solid black;
    background-color: white;
}

.active, .accordion:hover {
    background-color: #501618;
}